.navigation {
  display: flex;
  background-color: #F5F5F5;
  height: 100%;
}

.navigation a,
.navigation .logout {
  width: 25%;
  color: #000;
}

.navigation a:hover,
.navigation .logout:hover {
  background-color: #FFF;
}

.navigation a {
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .logout {
  padding: 10px 0;
}