.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout img {
  width: 40px;
  height: 40px;
}

.to-disconnect {
  background-color: #F13F55;
  font-size: 15px;
  border-width: 2px;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 5px;
}